.header {
    padding: 80px;
    text-align: center;
    background-image: linear-gradient(red, #f06d06);
    color:black;
}

.navbar {
    overflow: hidden;
}

.social-links ul {
  position: absolute;
  top: 45%;
  left: 88%;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-links ul li {
  list-style: none;
  margin: 8px;
}

.social-links ul li .fa {
  color: #000000;
  font-size: 30px;
  line-height: 50px;
}

.social-links ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-links ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -20px);
}

.social-links ul li:nth-child(1) a {
  background-color: #3b5998;
}

.social-links ul li:nth-child(2) a {
  background-color: #e95950;
}

.social-links ul li:nth-child(3) a {
  background-color: #333;
}

.social-links ul li:nth-child(4) a {
  background-color: #0e76a8;
}

.social-links img {
  padding: 100px;
  margin: 0 0 0 1070px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left-column {
  height: 1000px;
}

.right-column {
  height: 1000px;
}

.right-column img {
  float: right;
  margin-top: 140px;
}

body {
  animation: 10000ms infinite color-change;
}

@keyframes color-change {
  0% {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

  }
  20% {
    background: linear-gradient(to bottom, #00cc66 0%, #66ffff 100%);

  }
  40% {
    background: linear-gradient(to bottom, #993399 0%, #ff0000 100%);

  }
  60% {
    background: linear-gradient(to bottom, #ff66cc 0%, #ffcc00 100%);

  }
  80% {
    background: linear-gradient(to bottom, #00cc99 0%, #ff5050 100%);

  }
  100% {
    background: linear-gradient(to bottom, #ff5050 0%, #ff99cc 100%);

  }
}